// variables
$content-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(0, 0, 0, 0.2);

/* Global */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
ul,
li,
input,
select,
textarea,
table,
th,
td {
  font-family: 'Lato', sans-serif !important;
  font-weight: normal;
  font-style: normal;
}

.rgba-black-light {
  background-color: rgba(0, 0, 0, 0.35);
}

.rgba-black-strong {
  background-color: rgba(0, 0, 0, 0.7);
}

.rgba-blue-grey-slight {
  background-color: rgba(96, 125, 139, 0.1);
}

.rgba-blue-grey-light {
  background-color: rgba(96, 125, 139, 0.35);
}

.rgba-blue-grey-strong {
  background-color: rgba(96, 125, 139, 0.7);
}

.rgba-orange-slight {
  background-color: rgba(255, 152, 0, 0.1);
}

.shadow-xl {
  box-shadow: 0 1rem 2.5rem -0.8rem rgba(0, 0, 0, 0.56), 0 0.25rem 1.5rem rgba(0, 0, 0, 0.12),
    0 0.5rem 0.75rem -0.3rem rgba(0, 0, 0, 0.2);
}

.section-content {
  padding: 4rem 0;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

  &:before,
  &:after {
    content: '';
    height: 0.15rem;
    background: #666;
    flex: 1;
  }

  &:before {
    margin: 0 0.45rem 0 0;
  }

  &:after {
    margin: 0 0 0 0.45rem;
  }
}

#shadow-box {
  transition: 0.5s ease-in-out;
}

.bg-purple {
  background-color: purple;
}

.text-purple {
  color: purple;
}

hr {
  &.hr-white {
    border-top: 1px solid #fff;
  }
}

.form-control {
  border-radius: 20px;

  &:focus {
    border: 1px solid #9933cc;
    box-shadow: none;
  }
}

::placeholder {
  font-size: 0.85rem;
  opacity: 0.5;
}

.main {
  background: #fff;
  z-index: 3;

  &-raised-square,
  &-raised-rounded {
    margin: -60px 30px 0;
    box-shadow: $content-shadow;
  }

  &-raised-rounded {
    border-radius: 6px;
  }
}

blockquote {
  border-left: 0.5rem solid red;
  padding-left: 1rem;
  font-size: 1.1rem;
}
