/* Footer */
.footer {
  background-color: #00aced;

  a {
    text-decoration: none;
  }

  .social-icons {
    .twitter-link {
      color: #00aced;
    }

    .facebook-link {
      color: #3b5998;
    }

    .youtube-link {
      color: #cc181e;
    }
  }

  .copyright {
    font-size: 0.9rem;
  }
}
