#topBanner {
  &.banner {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-origin: border-box;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#ceo {
  background-repeat: repeat;
}

#brand-history {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .brand-content {
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

#aboutus {
  .image-lightbox {
    .col img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: rotate(-10deg) scale(1.05, 1.05);
        opacity: 1;
      }
    }

    &:hover img {
      opacity: 0.6;
      transform: scale(0.9, 0.9);
    }
  }

  .faq {
    .accordion-button:not(.collapsed) {
      color: purple;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

%mapDiv {
  // placeholder selector
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: block;
}

#contactMap {
  @extend %mapDiv;
  height: 600px;

  .address-info {
    position: absolute;
    top: 50px;
    right: 50px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 3;
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: #fff;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
  }

  #map {
    @extend %mapDiv;
    height: 580px;
  }
}

#page-content {
  &.main {
    .page-list {
      a {
        text-decoration: none;
      }
    }
  }
}

.communicate-box {
  background-color: rgba(96, 125, 139, 0.35);
  border-radius: 5px;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: rgba(96, 125, 139, 0.7);
  }
}

.widget-group {
  background-color: rgba(0, 0, 0, 0.35);

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: $content-shadow;
  }
}
